body {
    background-color: powderblue;
}
square {
  height: 1000px;
  width: 1000px;
  background-color: #555;
}
h1 {
    color: blue;
    font-family: "Courier New", monospace;
}
h3 {
    color: blue;
    font-family: "Lucida Console", monospace;
}
p {
    color: red;
    font-family: Arial, sans-serif;
}