#cakePic {
    width: 20em; /* shrink cheesecake image to 20% of original size */
    height: auto; 
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Merriweather', serif;
    background-image: url("woodBackground2.jpg")
}
